
html{
    background: url(./images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-color: mediumaquamarine;
      
}
.pi{
    text-align: center;
}
.personal
{
    
    text-align: center ;
    letter-spacing: 5;
}
.perso
{
    text-indent: 10;
}
.header-name{
    width : 800px;
    height: 1900px;
    background: rgba(0,0,0,0.4);
    padding : 40px;
    color: white;
    margin: 0 auto;
    margin-top: 50px
}
.dp-pic{
border-radius: 50%;
height: 200px;
width: 200px;
display: block; margin-left: auto; margin-right: auto;
}

.links
{
    height: 200px;
    text-align: center;
    display: block; margin-left: auto; margin-right: auto;
}
h1 {
    color: white;
    text-align: center;
    letter-spacing: 8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 40px;
}


p {
    text-align: center;
    font-family: verdana;
    font-size: 11px;
    letter-spacing: 3;
    margin: 0 0 16px 0;
}

.pep {
    text-align: left;
    font-family: verdana;
    font-size: 11px;
    letter-spacing: 3;
}

* { 
    margin: 0; padding: 0; 
}
body { 
    font: 16px Helvetica, Sans-Serif; 
    line-height: 24px; 
    background: url(images/noise.jpg); 
}

.clear { 
    clear: both; 
}
#page-wrap { 
    width: 800px; margin: 40px auto 60px; 
}
    h5 { 
        font-size: 15px; 
        margin: 0 0 6px 0; 
        position: relative; 
        letter-spacing: 2;
    }
a {
     color: #999; 
     text-decoration: none; 
     border-bottom: 1px dotted #999; 
    }
a:hover { 
    border-bottom-style: solid; 
    color: black; 
}
ul { 
    margin: 0 0 32px 17px; 
}
#objective { 
    width: 500px; 
    float: left; 
}
#objective p { 
    font-family: Georgia, Serif; font-style: italic; 
    color: #666; 
}
    dt { 
        font-style: italic; 
        font-weight: bold; 
        font-size: 18px; 
        text-align: right; 
        padding: 0 26px 0 0; 
        width: 150px; 
        float: left; 
        height: 100px; 
        border-right: 6px solid #999;  
    }
 dd { 
     width: 600px;
     float: right;
    }
dd.clear { 
    float: none;
    margin: 0;
    height: 15px; 
}







.zoom {
    padding: 50px;
    transition: transform .2s; 
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5); 
}